:root {
    --text: rgb(230, 237, 243);
    --background: rgb(13, 17, 23);
    --elem-background: rgb(1, 4, 9);
  }

body {
    color: var(--text);
    background-color: var(--background);
    font-family: Times New Roman, sans-serif;
    text-align: center;
}

#header {
    display: flex;
    text-align: center;
    margin-bottom: 65px;
}

#menu-btn {
    width: 50px;
    height: 50px;
    margin-left: 10;
    margin-top: auto;
    margin-bottom: auto;
    color: var(--text);
    background-color: var(--elem-background);
    border-radius: 10px;
}
#menu-btn:hover {
    background-color: rgb(75, 77, 78);
}

#title {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    font-size: 40;
    color: var(--text);
    background-color: var(--elem-background);
    border: groove var(--text);
    border-width: 2;
    border-radius: 10px;
    font-family: Brush Script MT, 'Times New Roman', sans-serif;
}

#dark-mode-btn {
    width: 50px;
    height: 50px;
    margin-right: 10;
    margin-top: auto;
    margin-bottom: auto;
    background-color: var(--elem-background);
    border-radius: 10px;
}

#menuOverlay {
    position: absolute;
    top: 70px;
    left: 0px;
    z-index: 1000;

    margin-left: 7px;

    border-radius: 10px;
    background-color: rgb(22, 27, 34);
    border: inset 2px var(--text);
}

#overlayList {
    padding: 0%;
}

.overlayListItems {
    list-style: none;
    margin: 10px;
    font-size: larger;
}
.overlayListItems:hover {
    .overlayButtons {
        background-color: rgb(41, 47, 54); 
    }
}

.overlayLinks {
    text-decoration: none;
    color: var(--text);
}

.overlayButtons {
    padding: 5px;
    border-radius: 4px;
}

/* FRONT CARD */
.menu-card {
    display: inline-block;
    vertical-align: top;
    border: groove 2px var(--text);
    border-radius: 10px;
    background-color: var(--elem-background);
    margin: 10px;

    transition: transform 0.3s ease-in-out; /* Add this line */
}

/* makes cards bigger on hover */
.menu-card:hover {
    background-color: rgb(75, 77, 78);
    transform: scale(1.050); /* Scale the card by 10% on hover */
}

.main-img {
    border-radius: 8px;
    height: 215px;
    width: 215px;
}

.menu-card-section-header {
    border-bottom: solid rgb(115, 115, 115) 1px; width: 85%;
    margin: auto;
}

.card-container {
    /*background-color: #333;*/
    overflow: auto;
    white-space: nowrap;
    /*border-radius: 10px;*/
}

a {
    color: var(--text);
}

@media only screen and (max-width: 600px) {
    .menu-card {
        display: inline-block;
        vertical-align: top;
        border: groove 2px var(--text);
        border-radius: 10px;
        background-color: var(--elem-background);
        margin: 10px;
    
        transition: transform 0.3s ease-in-out; /* Add this line */
    }

    .main-img {
        border-radius: 8px;
        height: 190px;
        width: 200px;
    }
    
}
