@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;700&family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Roboto+Mono:wght@300;400;700&display=swap');
/* TURN OTHER SECTIONS TO FLEXBOXS  */
/* font-family: 'Share Tech Mono', monospace; */
:root {
    --bg-color: #0a0a0a;
    --text-color: #e0e0e0;
    --accent-color: #00ff00;
    --secondary-color: #00cc00;
    --tertiary-color: #008000;
    --menu-bg: rgba(15, 15, 15, 0.8);
    --card-bg: #1a1a1a;
    --card-hover-bg: #222;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fira Code', monospace;
    background-color: var(--bg-color);
    background-image: url("./img/textures/argyle.png");
    background-repeat: repeat;
    color: var(--text-color);
}

/*#region HEADER STYLES */
header {
    background: linear-gradient(45deg, #000000, #1a1a1a);
    padding: 2rem 0;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.header-content {
    position: relative;
    z-index: 2;
    text-align: center;
}
.header-content h1 {
    font-family: 'Share Tech Mono', monospace;
    font-size: 3rem;
    color: var(--accent-color);
    text-shadow: 0 0 25px var(--accent-color);
}

/* MATRIX RAIN  */
.matrix-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0.30;
    /* Matrix rain brightness ^ */
}
.matrix-column {
    position: absolute;
    top: -100%;
    width: 1px;
    height: 100%;
    background-image: linear-gradient(0deg, var(--accent-color) 0%, transparent 100%);
    animation: matrix-rain 20s infinite linear;
}
@keyframes matrix-rain {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(100%);
    }
}
/*#endregion */

/*#region NAVIGATION BAR */
nav {
    background-color: var(--menu-bg);
    font-family: 'Firacode', monospace;
    position: sticky;
    top: 0; 
    z-index: 1000;
    backdrop-filter: blur(10px);
}
.navbar {
    margin-top: 0;
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 1rem 0;
    padding-bottom: 0.75rem;
    margin-bottom: 40px;
    border-bottom: 2px solid var(--card-hover-bg);
}
.navbar li {
    /* margin: 0 1rem; */
    position: relative;
    padding-bottom: 5px;
}
.navbar li.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    /* changes the height below  */
    height: 1px;
    background-color: var(--accent-color);
}
.navbar a {
    color: var(--text-color);
    text-decoration: none;
    /* font-size: 1.1rem; */
    transition: color 0.3s ease;
}
.navbar a:hover {
    cursor: pointer;
    color: var(--accent-color);
}

#djrive-link a:hover {
    cursor: pointer;
    color: rgb(40, 158, 255);
}

.seperator {
    font-size: smaller;
    margin: 0px 1rem 0px 1rem;
}
.seperator:hover {
    cursor: default;
}
/*#endregion  */

/*#region SECTION STYLES  */
.section-header {
    margin-top: 15px;
    color: var(--accent-color);
    display: block;
    font-family: 'Share Tech Mono', monospace;
    font-size: 2.2rem;
    /* keeps header inline with cards offset */
    padding-left: 50px;
}
.card-section {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Share Tech Mono', monospace;
    /* Allows cards to wrap to the next line if needed */
    justify-content: space-evenly;
    /* Distributes cards evenly */
    gap: 35px;
    margin-bottom: 40px;
    /* Adds spacing between cards */
    padding-top: 5px;
    padding-left: 50px;
    padding-right: 50px;
}
/*#endregion */

/*#region CARD STYLES */
.card {
    /* Allows the card to grow and shrink, setting a minimum width of 300px */
    flex: 1 1 300px;
    max-height: auto;
    max-width: 100%;
    /* Limits the maximum size of the cards */
    /* background-color: var(--card-bg); */
    background: radial-gradient(circle, #2a2a2a, var(--card-bg) 100%);

    border-radius: 10px;
    border: 1px solid var(--secondary-color);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 15px;
    text-align: left;
    text-decoration: none;
    color: inherit;
}
.card a {
    display: block;
    /* Keeps the text color the same as the card */
    height: 100%;
    /* Ensures the link covers the whole card */
    width: 100%;
}
.card img {
    /* Make the image fill the width of the card */
    width: auto;
    height: auto;
    max-height: 150px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--tertiary-color);
    /* keeps img a standard size */
    object-fit: contain;
}
.card h2 {
    font-family: 'Share Tech Mono', monospace;
    color: var(--secondary-color);
    margin-bottom: 0.75rem;
    margin-top: 1rem;
}
.card p {

}
.card-img-only {
    width: auto;
    height: 200px; /* Or your desired height */
    overflow: hidden;
    background-color: var(--card-bg);
    border-radius: 10px;
    border: 2px solid var(--tertiary-color);
}
.card-img-only img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*#endregion  */

/* SMALL SCREENS STYLES */
@media (max-width: 768px) {

    .hide-li-github {
        display: none;
    }

    .header-content h1 {
        font-size: 2rem;
        text-shadow: 0 0 0 var(--accent-color);
    }

    .navbar li {
        font-size: smaller;
    }

    .section-header {
        margin-top: 15px;
        color: var(--secondary-color);
        display: block;
        font-family: 'Share Tech Mono', monospace;
        font-size: 1.8rem;
        /* keeps header inline with cards offset */
        padding-left: 20px;
    }
    
    .card-section, .text-card-section, .hybrid-section {
        display: flex;
        flex-wrap: nowrap;
        font-family: 'Share Tech Mono', monospace;
        /* Allows cards to wrap to the next line if needed */
        justify-content: flex-start;
        /* Distributes cards evenly */
        gap: 35px;
        margin-bottom: 40px;
        /* Adds spacing between cards */
        padding-top: 5px;
        padding-left: 20px;
        padding-right: 20px;

        overflow-x: auto ;
        
    }

    .card {
        /* Allows the card to grow and shrink, setting a minimum width of 300px */
        flex: 1 1 300px;
        max-height: auto;
        min-width: 75%;
    }


    .card img {
        /* Make the image fill the width of the card */
        width: auto;
        height: auto;
        max-height: 125px;
        border-bottom: 1px solid var(--tertiary-color);
        /* keeps img a standard size */
        object-fit: contain;
    }







}
