<div class="container" id="container">
    <section id="featured">
        <div class="photo-section">
            <h2>About Me</h2>
            <img src="./img/cards/profilepic.JPEG" alt="img" class="profile-img" width="240" height="150" data-image_id="0">
        </div>

        <div class="card">
            <a><p>A bio will be here soon.</p></a>
        </div>
        
        <div class="photo-section">
            <h2>Skills</h2>
        </div>
        <div class="card">
            <a>
                <p><strong>Languages:</strong> C, C++, Java, JavaScript, Dart, Swift,  HTML, CSS, x86 (AT&T), MIPS, SQL</p>
                <p><strong>Technologies:</strong> Swift UI, Flutter, JavaFX, Pygame, SQLite, MySQL, Pandas, Plotly, MuJoCo</p>
                <p><strong>Tools:</strong> Git, Scene Builder, Google Cloud, Docker, Kubernetes, Selenium, PyTest, Nginx</p>
            </a>
        </div>

        <div class="photo-section">
            <h2>My Works</h2>
        </div>
        <!-- Project Cards -->
        <div class="grid">
            <div class="card">
                <a>
                    <img src="../img/cards/github.png" alt="img" class="card-image" width="240" height="150" data-image_id="3">
                    <h2>Favorite Sites</h2>
                    <p>Discover the online resources I value most</p>
                </a>

            </div>
        </div>

        
    
    </section>
</div>




