<div class="container" id="container">

    <!-- CARD SECTION -->
    <h2 class="section-header">About Me</h2>
    <section class="hybrid-section">

        <div class="card">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium placeat quae sunt vitae, velit
                animi
                exercitationem explicabo ducimus impedit molestiae? Nobis, ex! Ducimus incidunt vel vero quasi saepe.
                Eius,
                minus.</p>
        </div>
        <div class="card-img-only">
            <img src="./img/cards/profilepic.JPEG" alt="img">
        </div>

    </section>

    <!-- CARD SECTION -->
    <h2 class="section-header">Skills</h2>
    <section class="text-card-section">

        <div class="card">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium placeat quae sunt vitae, velit
                animi
                exercitationem explicabo ducimus impedit molestiae? Nobis, ex! Ducimus incidunt vel vero quasi saepe.
                Eius,
                minus.</p>
        </div>
    </section>

    <!-- CARD SECTION -->
    <h2 class="section-header">Current Projects</h2>
    <section class="card-section">

        <div class="card">
            <img src="./img/cards/email.png" class="card-image">
            <h2>Email</h2>
            <p>Get in touch for opportunities or collaborations</p>
        </div>

        <div class="card">
            <img src="./img/cards/email.png" class="card-image">
            <h2>Email</h2>
            <p>Get in touch for opportunities or collaborations</p>
        </div>

        <div class="card">
            <img src="./img/cards/email.png" class="card-image">
            <h2>Email</h2>
            <p>Get in touch for opportunities or collaborations</p>
        </div>

    </section>

    <!-- CARD SECTION -->
    <h2 class="section-header">Social</h2>
    <section class="card-section">
        <div class="card">
            <img src="./img/cards/github.png" class="card-image">
            <h2>GitHub</h2>
            <p>See my projects and contributions</p>
        </div>

        <div class="card">
            <img src="./img/cards/stackoverflow.png" class="card-image">
            <h2>Stack Overflow</h2>
            <p>Check out my activity</p>
        </div>

        <div class="card">
            <img src="./img/cards/linkedin_logo.png" class="card-image">
            <h2>LinkedIn</h2>
            <p>Connect with me on LinkedIn!</p>
        </div>
    </section>
</div>