<div class="container" id="container">

    <!-- CARD SECTION -->
    <h2 class="section-header">About Me</h2>
    <section class="hybrid-section">

        <div class="card">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium placeat quae sunt vitae, velit
                animi
                exercitationem explicabo ducimus impedit molestiae? Nobis, ex! Ducimus incidunt vel vero quasi saepe.
                Eius,
                minus.</p>
        </div>
        <div class="card-img-only">
            <img src="./img/cards/profilepic.JPEG" alt="img">
        </div>

    </section>

    <!-- CARD SECTION -->
    <h2 class="section-header">Skills</h2>
    <section class="text-card-section">

        <div class="card">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium placeat quae sunt vitae, velit
                animi
                exercitationem explicabo ducimus impedit molestiae? Nobis, ex! Ducimus incidunt vel vero quasi saepe.
                Eius,
                minus.</p>
        </div>
    </section>

    <!-- CARD SECTION -->
    <h2 class="section-header">Quick Links</h2>
    <section class="card-section">

        <a class="card" href="../Joel_Prebish_Resume.pdf">
            <img src="./img/cards/resume.png" class="card-image">
            <h2>Resume</h2>
            <p>View my qualifications</p>
        </a>
    
        <a class="card" href="mailto:prebish.j@outlook.com">
            <img src="./img/cards/email.png" class="card-image">
            <h2>Email</h2>
            <p>Contact me directly for business or collaboration inquiries</p>
        </a>

        <a class="card" href="https://www.linkedin.com/in/dev-prebish/">
            <img src="./img/cards/linkedin_logo.png" class="card-image">
            <h2>LinkedIn</h2>
            <p>Connect with me on LinkedIn!</p>
        </a>
    
    </section>

</div>