<div class="container" id="container">

    <!-- CARD SECTION -->
    <h2 class="section-header">Old Favorites</h2>
    <section class="card-section">

        <div class="card">
            <img src="./img/cards/redstoneblock.jpg" class="card-image">
            <h2>Redstone Tools Addon</h2>
            <p>MCBE Addon-pack that only adds to what redstone has to offer</p>
        </div>

        <div class="card">
            <img src="./img/cards/python.png" class="card-image">
            <h2>Python Projects Hub</h2>
            <p>Free educational python projects for everyone</p>
        </div>

        <div class="card">
            <img src="./img/cards/finance-me-logo.png" class="card-image">
            <h2>Finanace Me (iOS)</h2>
            <p>An easy way to keep tabs on your finances</p>
        </div>

    </section>

    <!-- CARD SECTION -->
    <h2 class="section-header">Others</h2>
    <section class="card-section">
        <div class="card">
            <img src="./img/cards/github.png" class="card-image">
            <h2>GitHub</h2>
            <p>See my projects and contributions</p>
        </div>

        <div class="card">
            <img src="./img/cards/stackoverflow.png" class="card-image">
            <h2>Stack Overflow</h2>
            <p>Check out my activity</p>
        </div>

        <div class="card">
            <img src="./img/cards/linkedin_logo.png" class="card-image">
            <h2>LinkedIn</h2>
            <p>Connect with me on LinkedIn!</p>
        </div>
    </section>
</div>