<div class="container" id="container">

    <!-- CARD SECTION -->
    <h2 class="section-header">Featured</h2>
    <section class="card-section">

        <div class="card">
            <img src="./img/cards/redstoneblock.jpg" class="card-image">
            <h2>Redstone Tools Addon</h2>
            <p>MCBE Addon-pack that only adds to what redstone has to offer</p>
        </div>

        <div class="card">
            <img src="./img/cards/python.png" class="card-image">
            <h2>Python Projects Hub</h2>
            <p>Free educational python projects for everyone</p>
        </div>

        <div class="card">
            <img src="./img/cards/finance-me-logo.png" class="card-image">
            <h2>Finanace Me (iOS)</h2>
            <p>An easy way to keep tabs on your finances</p>
        </div>

    </section>

    <!-- CARD SECTION -->
    <h2 class="section-header">Unique</h2>
    <section class="card-section">
        <div class="card">
            <img src="./img/cards/frogger.jpg" class="card-image">
            <h2>MIPS Frogger</h2>
            <p>A new take on the classic game of Frogger!</p>
        </div>

        <div class="card">
            <img src="./img/cards/cpu.jpg" class="card-image">
            <h2>CPU2247 Schematic</h2>
            <p>A custom made CPU designed with Logism. Capable of running real programs</p>
        </div>
    </section>

    <!-- CARD SECTION -->
    <h2 class="section-header">Private 🤫</h2>
    <section class="card-section">
        <div class="card">
            <img src="./img/cards/" class="card-image">
            <h2>Djrive Cloud Service</h2>
            <p> </p>
        </div>

        <div class="card">
            <img src="./img/cards/" class="card-image">
            <h2>Coming soon...</h2>
            <p> </p>
        </div>

        <div class="card">
            <img src="./img/cards/" class="card-image">
            <h2>Coming soon...</h2>
            <p> </p>
        </div>
    </section>

</div>